<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/styles.css"> 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router@3/dist/vue-router.js"></script>
</head>
<body>
    <div id="app">
        <router-view></router-view>
    </div>
    <script type="module">
        import HomeView from '../static/views/HomeView.js';
        import LoginView from '../static/views/Login.js';
        import RegisterView from '../static/views/Register.js';
        import UserDashboard from '../static/views/UserDashboard.js';
        import LibrarianDashboard from '../static/views/LibrarianDashboard.js';
        import ManageSections from '../static/views/ManageSections.js';
        import ManageBooks from '../static/views/ManageBooks.js';
        import ManageRequestsView from '../static/views/ManageRequestsView.js';
        import ViewStatistics from '../static/views/ViewStatistics.js';
        import BorrowedBooks from '../static/views/BorrowedBooks.js';

        const routes = [
            { path: '/', component: HomeView },
            { path: '/login', component: LoginView },
            { path: '/register', component: RegisterView },
            { path: '/userdashboard', component: UserDashboard, meta: { requiresAuth: true, role: 'user' } },
            { path: '/librariandashboard', component: LibrarianDashboard, meta: { requiresAuth: true, role: 'admin' } },
            { path: '/manage-sections', component: ManageSections, meta: { requiresAuth: true, role: 'admin' } },
            { path: '/manage-books', component: ManageBooks, meta: { requiresAuth: true, role: 'admin' } },
            { path: '/manage-requests', component: ManageRequestsView, meta: { requiresAuth: true, role: 'admin' } },
            { path: '/view-statistics', component: ViewStatistics, meta: { requiresAuth: true, role: 'admin' } },
            { path: '/borrowed-books', component: BorrowedBooks, meta: { requiresAuth: true, role: 'user' } }
        ];

        const router = new VueRouter({
            routes
        });

        router.beforeEach((to, from, next) => {
            const isAuthenticated = localStorage.getItem('access_token');
            const userRole = localStorage.getItem('user_role');
            
            if (to.matched.some(record => record.meta.requiresAuth)) {
                if (!isAuthenticated) {
                    // Not logged in, redirect to login page
                    next('/login');
                } else if (to.meta.role && to.meta.role !== userRole) {
                    // Logged in but does not have the right role, redirect to home page or any other page
                    next('/');
                } else {
                    // User has access
                    next();
                }
            } else {
                // Route does not require authentication
                next();
            }
        });

        var app = new Vue({
            el: '#app',
            router: router,
        });
    </script>
</body>
</html>
